* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #222;
  color: white;
  font-size: 1em;
}
body a {
  color: white;
  text-decoration: underline;
}
body a:hover {
  color: #F6CA83;
}

header {
  padding: 1em;
  text-align: center;
  background-color: #2596A7;
}
header img {
  padding: 1em;
  width: 10em;
  border-radius: 50%;
}
header .headerphoto {
  position: relative;
}
header .headerphoto:hover {
  top: -5px;
  filter: drop-shadow(6px 5px 2px #222);
}
header .title h1 {
  text-decoration: underline;
}
header #header-contact {
  margin-top: 1em;
}
header #header-contact li {
  display: inline;
  padding: 0.5em;
  font-size: 1.5em;
}
header #header-contact a {
  color: inherit;
}
header #header-contact a:hover {
  color: #F6CA83;
  border-bottom: 0.02em solid #F6CA83;
}

.main {
  text-align: center;
}

.nav {
  padding: 1em;
}
.nav ul li {
  display: inline;
}
.nav ul li a {
  color: white;
  text-decoration: none;
}
.nav ul li a:hover {
  text-decoration: underline;
  color: #F6CA83;
}

.aboutme {
  margin: 1em;
  padding: 1em;
}
.aboutme #aboutmetitle {
  border-bottom: 0.2em solid #fcfcfc;
  border-bottom-color: white;
}
.aboutme #aboutmetext {
  padding: 1em;
  margin-top: 1em;
}
.aboutme #aboutmetext a {
  color: white;
  text-decoration: underline;
}
.aboutme #aboutmetext a:hover {
  color: #F6CA83;
}

.projects {
  background-color: #007A49;
  padding: 1em;
}
.projects ul {
  list-style-type: none;
}
.projects .card-links {
  padding: 0.5em;
}
.projects .card-links i {
  font-size: 2em;
}
.projects .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  transition: 0.3s;
  background-color: #00b56c;
  margin: 1em;
  padding: 1em;
  border-radius: 3%;
}
.projects .card .card-title {
  text-decoration: underline;
}
.projects .card:hover {
  box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.6);
}

.skills {
  padding: 1.3em;
  background-color: #2596A7;
}
.skills h2 {
  text-decoration: underline;
}
.skills ul {
  padding: 1.5em;
}
.skills ul li {
  list-style-position: inside;
  text-decoration: underline;
}
.skills p {
  margin-bottom: 1em;
}

.footer {
  margin: 1em;
  padding: 1em;
  font-size: 0.8em;
}
.footer ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.footer li {
  display: inline;
}

mark {
  background-color: rgba(250, 255, 130, 0.7);
}
mark a {
  text-decoration: none;
  color: white;
}
mark a a:hover {
  color: white;
  text-decoration: underline;
}

@media (min-width: 650px) {
  #htextphoto {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  header {
    padding-top: 2em;
  }

  .nav {
    font-size: 1.3em;
  }

  .footer {
    font-size: 1em;
  }
}
@media (min-width: 800px) {
  .nav {
    font-size: 1.5em;
  }

  #htextphoto {
    width: 70%;
    margin: 0 auto;
  }

  .footer {
    width: 50%;
    margin: 0 auto;
  }

  .skills ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1em;
  }
}
@media (min-width: 900px) {
  .aboutme {
    width: 70%;
    margin: 0 auto;
  }

  #skillsinnerdiv {
    width: 70%;
    margin: 0 auto;
  }
}
@media (min-width: 1000px) {
  #htextphoto {
    width: 50%;
    margin: 0 auto;
  }
}
@media (min-width: 1300px) {
  .aboutme {
    width: 50%;
    margin: 0 auto;
  }

  #skillsinnerdiv {
    width: 50%;
    margin: 0 auto;
  }
}
@media (min-width: 2000px) {
  #htextphoto {
    width: 60em;
  }

  .aboutme {
    width: 70em;
  }

  #skillsinnerdiv {
    width: 60em;
  }
}

/*# sourceMappingURL=index.css.map */
