$base-color: #222;
$light-blue: #2596A7;
$hover: #F6CA83;
$green: #007A49;

* {
	padding: 0;
  	margin: 0;
	font-family: 'Poppins', sans-serif;
}
body {
	background-color: $base-color;
	color: white;
	font-size: 1em;

	a {
		color: white;
		text-decoration: underline;
	}
	a:hover {
		color: $hover;
	}
}
header {
	padding: 1em;
	text-align: center;
	background-color: $light-blue;
	img {
		padding: 1em;
		width: 10em;
		border-radius: 50%;
	}
	.headerphoto {
		position: relative;
	}
	.headerphoto:hover {
		top: -5px;
		filter: drop-shadow(6px 5px 2px $base-color);
	}

	.title {
		h1 {
			text-decoration: underline;
		}
	}

	#header-contact {
		//padding: 1em;
		margin-top: 1em;
		li {
			display: inline;
			padding: 0.5em;
			font-size: 1.5em;
		}

		a {
			color: inherit;
		}

		a:hover {
			color: $hover;
			border-bottom: 0.02em solid $hover;
		}

	}
}
.main {
	text-align: center;

}
.nav {
	padding: 1em;

	ul {
		li {
			display: inline;
			a {
				color: white;
				text-decoration: none;
			}
			a:hover {
				text-decoration: underline;
				color: $hover;
			}
		}
	}
}
.aboutme {
	margin: 1em;
	padding: 1em;
	#aboutmetitle {
		border-bottom: .2em solid #fcfcfc;
		border-bottom-color: white;
	}
	#aboutmetext {
		padding: 1em;
		margin-top: 1em;
		//font-size: 0.8em;
		a {
			color: white;
			text-decoration: underline;
		}
		a:hover {
			color: $hover;
		}
	}
}
.projects {
	background-color: $green;
	padding: 1em;
	ul {
		list-style-type: none;
	}
	.card-links {
		padding: 0.5em;
		i {
			font-size: 2em;
		}
	}

	.card {
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
		transition: 0.3s;
		background-color: #00b56c;
		margin: 1em;
		padding: 1em;
		border-radius: 3%;
		.card-title {
			text-decoration: underline;
		}
	}
	.card:hover {
		box-shadow: 0 8px 15px 0 rgba(0,0,0,0.6);
	}
}
.skills {
	padding: 1.3em;
	h2 {
		text-decoration: underline;
	}
	background-color: $light-blue;
	ul {
		padding: 1.5em;
		li {
			list-style-position: inside;
			text-decoration: underline;
		}
	}
	p {
		margin-bottom: 1em;
		//font-size: 0.8em;
	}
}
.footer {
	margin: 1em;
	padding: 1em;
	font-size: 0.8em;
	ul {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	li {
		display: inline;
		//font-size: 0.8em;
	}
}
mark {
	background-color: rgba(250, 255, 130, 0.7);
	a {
		text-decoration: none;
		color: white;
		a:hover {
			color:white;
			text-decoration: underline;
		}
	}

}

// MEDIA QUERIES

@media (min-width: 650px) {
	#htextphoto {
		display: grid;
		grid-template-columns: 1fr 1fr;
		
	}
	header {
		padding-top: 2em;
	}
	.nav {
		font-size: 1.3em;
	}
	.footer {
		font-size: 1em;
	}
}
@media (min-width: 800px) {
	.nav {
		font-size: 1.5em;
	}
	#htextphoto {
		width: 70%;
		margin: 0 auto;
	}
	.footer {
		width: 50%;
		margin: 0 auto
	}
	.skills {
		ul {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-column-gap: 1em;
		}
	}
}
@media (min-width: 900px) {
	.aboutme {
		width: 70%;
		margin: 0 auto;
	}
	#skillsinnerdiv {
		width: 70%;
		margin: 0 auto;
	}

}
@media (min-width: 1000px) {
	#htextphoto {
		width: 50%;
		margin: 0 auto;
	}
}
@media (min-width: 1300px) {
	.aboutme {
		width: 50%;
		margin: 0 auto;
	}
	#skillsinnerdiv {
		width: 50%;
		margin: 0 auto;
	}
}
// For super large monitors
@media (min-width: 2000px) {
	#htextphoto {
		width: 60em;
	}
	.aboutme {
		width: 70em;
	}
	#skillsinnerdiv {
		width: 60em;
	}
}