$base-color: #222;
$light-blue: #6ce4fc;
$hover-blue: #88fcf8;
$green-blue: #02afff;

* {
	padding: 0;
  	margin: 0;
	font-family: 'Poppins', sans-serif;
}
body {
	background-color: $base-color;
	color: white;
	font-size: 1em;
}
header {
	padding: 1em;
	text-align: center;
	background-color: $light-blue;
	img {
		width: 20em;
		border-radius: 50%;
	}
	p {
		font-size: 0.6em;
	}
	.title {
		h1 {
			text-decoration: underline;
			font-size: 2em;
		}

	}
	.headertext {
		padding: 1em;
		font-size: 1.7em;
	}
	#header-contact {
		padding: 1em;
		li {
			display: inline;
			padding: 0.5em;
			font-size: 2em;
		}
		a {
			color: inherit;
		}
		a:hover {
			color: $hover-blue;
			border-bottom: 0.02em solid $hover-blue;
		}

	}
	//.burgernav {
	//	i {
	//		font-size: 3em;
	//	}
	//}
	//.navmain {
	//	overflow: hidden;
	//	a {
	//		color: white;
	//		text-decoration: none;
	//	}
	//	a:hover {
	//		color: lightskyblue;
	//	}
	//	//height: 0;
	//	display: none;
	//}
	//.open {
	//	//height: auto;
	//	display: block;
	//}

}

//#YouTube {
//	display: inline;
//}



.main {
	text-align: center;
	#aboutmetitle {
		border-bottom: .2em solid #fcfcfc;
		border-bottom-color: white;
	}
}
mark {
	background-color: rgba(250, 255, 130, 0.7);
	a {
		text-decoration: none;
		color: white;
		a:hover {
			text-decoration: underline;
		}
	}

}
.aboutme {
	margin: 1em;
	padding: 1em;
	#aboutmetext {
		padding: 1em;
		margin-top: 1em;
		font-size: 0.8em;
	}
}
.ec {
	padding: 1em;
	//margin: 1em;
	background-color: $green-blue;
	#ectitle {
		padding: 1em;
		font-size: 2em;
		border-bottom: 0.3em solid white;
	}
	#ecsubtitle {
		font-size: 0.9em;
	}
	ul {
		list-style-type: none;
	}
	li {
		padding: 1em;
		p {
			font-size: 0.8em;
		}
	}
	.echeader {
		border-bottom: 0.3em solid white;
	}
	#echeadertitle {
		font-size: 1.2em;
		text-decoration: underline;

	}
	img {
		margin: auto;
		width: 10em;
	}
}
.awards {
	padding: 1em;
	h2 {
		text-decoration: underline;
		margin: 1em;
	}
	#awardslist {
		padding: 1em;
		li {
			list-style-type: none;
			border-top: 0.2em solid white;
			border-bottom: 0.2em solid white;

		}
	}
}
.skills {
	padding: 1.3em;
	h2 {
		text-decoration: underline;
	}
	background-color: $light-blue;
	ul {
		padding: 1.5em;
	}
	p {
		font-size: 0.8em;
	}
}
.footer {
	margin: 1em;
	padding: 1em;
	ul {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	li {
		display: inline;
		font-size: 0.8em;
	}
}
//.contact {
//
//	.title {
//		margin-left: 5em;
//		margin-right: 5em;
//		padding: 1em;
//		h3 {
//
//			border-bottom: .2em solid white;
//
//		}
//	}
//}
//.contactitems {
//	display: grid;
//	grid-template-columns: 1fr 1fr 1fr;
//	padding: 1em;
//	margin: 1em;
//	i {
//		font-size:3em;
//	}
//	a {
//		color: white;
//		text-decoration: none;
//	}
//}
//.mainwrapper {
//	display: grid;
//	grid-template-columns: 1fr 1fr;
//}
//@media screen (min) {
//
//}